@model List<Adress>

@{
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<html>

<head>
    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        .ui-w-40 {
            width: 40px !important;
            height: auto;
        }

        .card {
            box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
        }

        .ui-product-color {
            display: inline-block;
            overflow: hidden;
            margin: .144em;
            width: .875rem;
            height: .875rem;
            border-radius: 10rem;
            -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="container px-3 my-5 clearfix">
        <div class="card">
            <div class="card-header">
                <h2>Your Adress</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th class="text-center py-3 px-4" style="min-width: 400px;">Adress Title &amp; Details
                                </th>
                                <th class="text-right py-3 px-4" style="width: 100px;">City</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td class="p-4">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <a href="#" class="d-block text-dark">@item.Title</a>
                                                <small>
                                                    <span class="text-muted">Adress Detail : @item.AdressDetail </span>
                                                    <span class="text-muted">Zip : @item.Zip </span>
                                                </small>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right font-weight-semibold align-middle p-4">@item.City</td>

                                    <td class="text-right font-weight-semibold align-middle p-4">
                                        <a asp-controller="Adress" asp-action="Edit" asp-route-id="@item.Id"
                                            class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                                    </td>
                                    <td class="text-center align-middle px-0"><form method="post" asp-route-id="@item.Id" asp-action="Delete" asp-controller="Adress">
                                            <button type="submit" class="btn btn-primary mx-2">Remove</button>
                                            </form></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="float-right">
                    <a asp-action="Create" asp-controller="Adress">
                        <button type="submit" class="btn btn-lg btn-primary mt-2">New Adress</button>
                    </a>

                </div>

            </div>
        </div>
    </div>
</body>

</html>
